@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/variables.scss';

.container {
  @include content-padding-inline();
  // box-sizing: border-box;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding-block: 24px 40px;
}

.button {
  display: block;
}

.img {
  display: block;
}

.sectionTitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  color: $secondary-text-color;
}

.title {
  margin: 0;
  padding-bottom: 8px;
}

.info {
  color: $secondary-text-color;
  margin: 0;
  padding-bottom: 32px;

  @include on-tablet {
    padding-bottom: 40px;
  }
}

.specsBlock {
  display: flex;
  gap: 16px;
}

.specsTitle {
  color: $secondary-text-color;
}

.sortSelect {
  width: 176px;
  height: 40px;
  border: 1px solid #B4BDC3;
  border-radius: 8px;
  
}

.sortOption {
  padding: 0 12px ;
}

.pageButtonsBar {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
  gap: 16px;

  @include on-tablet {
    padding-bottom: 80px;
  }
}

