@import '../../../../shared/styles/variables.scss';
@import '../../../../shared/styles/mixins.scss';

.button {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: $accent-color;
  color: $white-color;
  border: 0;
  padding: 0;
}