@import '../../../../shared/styles/variables.scss';

.button {
  // box-sizing: border-box;
  height: 40px;
  width: 160px;
  border-radius: 8px;
  background-color: $accent-color;
  color: $white-color;
  border: 0;
}