@import '../../../../shared/styles/variables.scss';
@import '../../../../shared/styles/mixins.scss';

.button {
  // box-sizing: border-box;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background-color: $accent-color;
  color: $white-color;
  border: 0;

  @include on-tablet {
    width: 125px;
  }

  @include on-desktop {
    width: 160px;
  }
}