@import '../../../../shared/styles/mixins.scss';
@import '../../../../shared/styles/variables.scss';

.wrapper {
  padding-block: 56px 64px;
  // overflow: hidden;

  @include on-tablet {
    padding-block: 64px;
  }
  @include on-desktop {
    padding-block: 80px;
    display: flex;
    flex-direction: column;
  }
}

.categoryTitle {
  margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;

  @include on-tablet {
    max-width: 592px;
  }

  @include on-desktop {
    max-width: 1136px;
  }
}

.sliderButtons {
  display: flex;
  gap: 16px;
}

.productsOuter {
  overflow: hidden; // усе, що не влазить по ширині, не видно
  margin-right: -16px;

  @include on-tablet {
    margin-right: -24px;
  }

  @include on-desktop{
    overflow: visible;
    margin-right: 0;
  }
}

.products {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap; // не переносити на новий ряд

  @include on-desktop {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
}

// .productsOuter {
//   overflow: hidden;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
//   width: 100vw;

//   @include on-tablet {
//     left: 0;
//     margin-left: 0;
//   }

//   @include on-desktop {
//     position: static;
//     margin: 0;
//     width: auto;
//     overflow: visible;
//   }
// }

// .products {
//   display: flex;
//   gap: 16px;
//   padding-left: 16px;

//   @include on-tablet {
//     padding-left: 0;
//     overflow: hidden;
//   }
// }