@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.button {
  box-sizing: border-box;
  display: inline-flex; // flex, щоб центрувати вміст
  align-items: center; // по вертикалі
  justify-content: center; // по горизонталі
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $icons-color;
  background-color: $hover-BG-color;
  cursor: pointer;

  &:hover {
    border-color: $primary-text-color;
  }
}